name: maktent
description: A student mobile App providing past papers and other resources.
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  get: ^4.6.6
  supabase_flutter: ^1.2.2
  flutter_pdfview: ^1.3.2
  advance_pdf_viewer2: ^2.0.5+1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
